<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.annin.store">

    <application
        android:name=".StoreApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Store"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".presentation.ui.activity.SplashActivity"
            android:theme="@style/Store.Splash"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.CardProductActivity"
            android:label="@string/title_activity_card_product"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.DetailCardProductActivity"
            android:label="@string/title_activity_card_product_detail"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.StoreActivity"
            android:label="@string/title_activity_store"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.DetailStoreActivity"
            android:label="@string/title_activity_store_detail"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.UnitActivity"
            android:label="@string/title_activity_unit"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.DetailUnitActivity"
            android:label="@string/title_activity_unit_detail"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.activity.AboutActivity"
            android:label="@string/title_nav_item_about"
            android:theme="@style/Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>